# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [402]:
# импортируйте библиотеку pandas
import pandas as pd

In [403]:
# прочитайте csv-файл
data = pd.read_csv('/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [404]:
# ваш код здесь
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [405]:
# ваш код здесь
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [406]:
# ваш код здесь
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [407]:
# ваш код здесь
m1 = data[data['income_type'] == 'сотрудник']['total_income'].median()
m2 = data[data['income_type'] == 'пенсионер']['total_income'].median()
m3 = data[data['income_type'] == 'компаньон']['total_income'].median()
m4 = data[data['income_type'] == 'госслужащий']['total_income'].median()
m5 = data[data['income_type'] == 'безработный']['total_income'].median()
m6 = data[data['income_type'] == 'предприниматель']['total_income'].median()
m7 = data[data['income_type'] == 'студент']['total_income'].median()
m8 = data[data['income_type'] == 'в декрете']['total_income'].median()
                                                                       
data.loc[data['income_type'] == 'сотрудник','total_income'] = data[data['income_type'] == 'сотрудник']['total_income'].fillna(m1)
data.loc[data['income_type'] == 'пенсионер','total_income'] = data[data['income_type'] == 'пенсионер']['total_income'].fillna(m2)
data.loc[data['income_type'] == 'компаньон','total_income'] = data[data['income_type'] == 'компаньон']['total_income'].fillna(m3)
data.loc[data['income_type'] == 'госслужащий','total_income'] = data[data['income_type'] == 'госслужащий']['total_income'].fillna(m4)
data.loc[data['income_type'] == 'безработный','total_income'] = data[data['income_type'] == 'безработный']['total_income'].fillna(m5)
data.loc[data['income_type'] == 'предприниматель','total_income'] = data[data['income_type'] == 'предприниматель']['total_income'].fillna(m6)
data.loc[data['income_type'] == 'студент','total_income'] = data[data['income_type'] == 'студент']['total_income'].fillna(m7)
data.loc[data['income_type'] == 'в декрете','total_income'] = data[data['income_type'] == 'в декрете']['total_income'].fillna(m8)

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [408]:
# ваш код здесь
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [409]:
# ваш код здесь
print(data.groupby('income_type')['days_employed'].median())

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [410]:
# ваш код здесь
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [411]:
# ваш код здесь
data.loc[data['children'] == -1] = None
data.loc[data['children'] == 20] = None
data['children'] = data['children'].dropna()

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [412]:
# ваш код здесь
data['children'] = data['children'].fillna(0)
data['children'] = data['children'].astype('int')
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [413]:
# ваш код здесь
m1 = data[data['income_type'] == 'сотрудник']['days_employed'].median()
m2 = data[data['income_type'] == 'пенсионер']['days_employed'].median()
m3 = data[data['income_type'] == 'компаньон']['days_employed'].median()
m4 = data[data['income_type'] == 'госслужащий']['days_employed'].median()
m5 = data[data['income_type'] == 'безработный']['days_employed'].median()
m6 = data[data['income_type'] == 'предприниматель']['days_employed'].median()
m7 = data[data['income_type'] == 'студент']['days_employed'].median()
m8 = data[data['income_type'] == 'в декрете']['days_employed'].median()
                                                                       
data.loc[data['income_type'] == 'сотрудник','days_employed'] = data[data['income_type'] == 'сотрудник']['days_employed'].fillna(m1)
data.loc[data['income_type'] == 'пенсионер','days_employed'] = data[data['income_type'] == 'пенсионер']['days_employed'].fillna(m2)
data.loc[data['income_type'] == 'компаньон','days_employed'] = data[data['income_type'] == 'компаньон']['days_employed'].fillna(m3)
data.loc[data['income_type'] == 'госслужащий','days_employed'] = data[data['income_type'] == 'госслужащий']['days_employed'].fillna(m4)
data.loc[data['income_type'] == 'безработный','days_employed'] = data[data['income_type'] == 'безработный']['days_employed'].fillna(m5)
data.loc[data['income_type'] == 'предприниматель','days_employed'] = data[data['income_type'] == 'предприниматель']['days_employed'].fillna(m6)
data.loc[data['income_type'] == 'студент','days_employed'] = data[data['income_type'] == 'студент']['days_employed'].fillna(m7)
data.loc[data['income_type'] == 'в декрете','days_employed'] = data[data['income_type'] == 'в декрете']['days_employed'].fillna(m8)

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [414]:
# ваш код здесь
data.isna().sum()

children              0
days_employed       123
dob_years           123
education           123
education_id        123
family_status       123
family_status_id    123
gender              123
income_type         123
debt                123
total_income        123
purpose             123
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [415]:
# ваш код здесь
data['total_income'] = data['total_income'].fillna(0.0).astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [416]:
# ваш код здесь
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [417]:
# посчитайте дубликаты
data.duplicated().sum()

193

In [418]:
# удалите дубликаты
data.drop_duplicates()
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием', None], dtype=object)

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [419]:
# создайте функцию categorize_income()
def categorize_income(salary):
    if salary < 30001:
        return 'E'
    if 30000 < salary < 50001:
        return 'D'
    if 50000 < salary < 200001:
        return 'C'
    if 200000 < salary < 1000001:
        return 'B'
    if  salary > 1000000:
        return 'A'

In [420]:
# примените функцию методом apply()
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [425]:
# ваш код здесь
data = data.dropna()
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [426]:
# создайте функцию categorize_purpose()
def categorize_purpose(row):
    try:
        if 'автомобил' in row:
            return 'операции с автомобилем'
        if  'жил' in row or 'недвижимо' in row:
            return 'операции с недвижимостью'
        if  'свадьб' in row:
            return 'проведение свадьбы'
        if  'образован' in row:
            return 'получение образования'
    except:
        return '1'

In [427]:
# примените функцию методом apply()
data.dropna()
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42.0,высшее,0.0,женат / замужем,0.0,F,сотрудник,0.0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36.0,среднее,1.0,женат / замужем,0.0,F,сотрудник,0.0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33.0,среднее,1.0,женат / замужем,0.0,M,сотрудник,0.0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32.0,среднее,1.0,женат / замужем,0.0,M,сотрудник,0.0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53.0,среднее,1.0,гражданский брак,1.0,F,пенсионер,0.0,158616,сыграть свадьбу,C,проведение свадьбы